body {
    font-family: 'NotCourierSans', monospace;
    padding: 8px;
}
td {
    padding: 0 2px;
}
td.scriptname {
    width: 106px;
}
td.time {
    width: 145px;
}
td.lineno {
    width: 53px;
}

table {
    width: 100%
}
