<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" href="/static/hq/reset.css" />
<link rel="stylesheet" href="/static/hq/hq.css" />

<script src="../static/hq/js/jquery-1.11.1.js"></script>
<script src="../static/hq/js/moment-with-langs.js"></script>
<div>
    <h3>Upcoming predictions</h3>
    <dl>
    {% for forecast in forecasts if forecast.future %}
        <dt content="{{ forecast.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}" class="time">{{ forecast.date.strftime('%H:%M %d %b') }}</dt>
        <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbows.json">rainbows.json</a></dd>
        <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.clouds.json">clouds.json</a></dd>
        <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbow_cities.json">rainbow_cities.json</a></dd>
    {% endfor %}
    </dl>
</div>

<div>
    <h3>Most recent prediction</h3>
    <dl>
    {% for forecast in forecasts if not forecast.future %}
        <dt content="{{ forecast.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}" class="time">{{ forecast.date.strftime('%H:%M %d %b') }}</dt>
        <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbows.json">rainbows.json</a></dd>
        <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.clouds.json">clouds.json</a></dd>
        <dd><a href="/static/gfs/{{ forecast.slug }}/{{ forecast.slug }}.rainbow_cities.json">rainbow_cities.json</a></dd>
    {% endfor %}
    </dl>
</div>

<table>
{% for log in logs %}
<tr class="{{ log.levelname }} {{ log.pathname.replace(".py","") }}"><td class="scriptname">{{ log.pathname.split('/')[-1] }}</td><td class="time" content="{{ log.time.strftime('%Y-%m-%dT%H:%M:%S%z') }}">{{ log.time.strftime('%H:%M %d %b') }}</td><td class="lineno">{{ '%04d' % log.lineno }}</td><td class="message">{{ log.msg }}</td></tr>
{% endfor %}
</table>

<script>
    // relative time
    $("td.time, dt.time").each(function(i, el) {
        $(el).text(moment($(el).attr("content")).fromNow());
    });
</script>
